.App {
  text-align: center;
  margin: 0;
  color: black;
  display: flex;
}

.App-link {
  color: #61dafb;
}

.app-item {
  margin-bottom: 0.5rem;
}

.app-logo {
  width: 2rem;
  transition: all 0.25s;
}

.nav-panel {
  /* height: fit-content; */
  height: 100vh;
  position: sticky;
  top: 0;
  /* left: 0; */
  transition: width 0.4s;
}

.nav-panel-icon {
  width: 1.5rem;
}

.nav-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0.925rem 1.5rem;
  border-radius: 0.4rem;
}

.nav-item:hover {
  background-color: #0082fb;
  cursor: pointer;
}

.nav-item:hover .nav-item-icon {
  filter: invert(100%);
  transform: scale(1.25);
}

.nav-item:hover .app-logo {
  filter: invert(100%);
  transform: scale(1.25);
}

.nav-item:hover .nav-item-text {
  color: white;
}

.nav-item>div {
  margin-left: 1rem;
}

.nav-item-icon {
  width: 1.5rem;
  transition: all 0.25s;
  /* filter: invert(100%); */
}

.nav-item-text {
  font-weight: bold;
}

.nav-item-text.hidden {
  display: none;
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.top-tool-bar {
  display: flex;
  justify-content: space-between;
  height: fit-content;
  width: 100%;
  margin: 0;
  padding: 1rem;
}

.toolbar-item {
  padding: 0 1rem;
}

.tool-bar-icon {
  width: 1rem;
  filter: invert(100%);
  cursor: pointer;
}

.right-tool-set {
  display: flex;
  align-items: center;
}

.language {
  /* height: 1.5rem; */
  outline: none;
  border: none;
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
}

.stats {
  /* display: flex;
  flex-wrap: wrap; */
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(245px, 1fr));
  width: 100%;
}

.stats>.card {
  margin: 0;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  width: 100%;
  transition: all 0.2s;
}

.stats>.card:hover {
  transform: translateY(-0.25rem);
  cursor: pointer;
}

/* .stats-item {
  display: flex;
  padding: 0.5rem;
} */

.stats-item-main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: baseline;
  /* padding-right: 2rem; */
}

.stats-item-number {
  font-size: larger;
  font-weight: bold;
}

.stats-icon-container {
  padding: 1rem;
  background-color: #8091ab;
  border-radius: 2rem;
}

.stats-icon {
  width: 1.5rem;
  filter: invert(1);
}

.main-content {
  /* display: flex; */
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

.todays-delivery {
  width: 100%;
}

.overview>.card {
  width: 93%;
}

.todays-delivery>.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0.5rem 0;
}

.todays-delivery-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.todays-delivery-header form {
  padding: 0 0.25rem;
  padding: 0 0.5rem;
  display: flex;
  justify-content: space-evenly;
}

.form-input {
  padding: 0.25rem;
}

.form-input:nth-child(1) {
  width: min-content;
}

.todays-delivery-header form input {
  outline: none;
  border: 1px solid;
  border-radius: 0.25rem;
  padding: 0.25rem;
}

.todays-delivery-header form select {
  outline: none;
  border-radius: 0.25rem;
  padding: 0.25rem 0rem;
}

.todays-cards-array {
  /* display: flex;
  flex-wrap: wrap; */
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

/* .todays-card {
  min-width: 280px;
} */
.todays-card>.card {
  width: 95%;
  height: 95%;
}

.todays-card .details {
  display: flex;
  justify-content: space-between;
  /* width: 250px; */
}

/* .details-item {
  padding: 0 0.5rem;
} */

.icons-array {
  display: flex;
}

.todays-icon {
  width: 2.75rem;
}

@media screen and (max-width: 1090px) {
  .form-input>input {
    width: 5.1rem;
  }

  .form-input>select {
    width: 6.5rem;
  }
}

@media screen and (max-width: 607px) {
  .nav-panel {
    position: absolute;
    width: 230px;
    left: -283.625px;
    z-index: 10;
    transition: all 0.4s;
  }

  .nav-item-text.hidden {
    display: block;
  }

  .nav-panel.hide {
    left: 0px;
  }
}

@media screen and (max-width: 320px) {

  .nav-panel>.card {
    margin: 0.01rem;
  }

  .nav-item {
    padding: 0.5rem 0.35rem;
  }

  .top-tool-bar {
    padding: 0.3rem;
  }

  .main-content {
    /* display: flex; */
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  }
}

/* @media screen and(max-width: 279px) {
  .todays-delivery-header {
    flex-direction: column;
  }

  .toolbar-item {
    padding: 0 0.5rem;
    border: 1px solid red;
  }
} */